.body {
  background-color: var(--background);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ekot-logo {
  opacity: 0.05;
  position: absolute;
  height: 60vh;
}
