.body {
  background-color: var(--background);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ekot-logo {
  opacity: 0.05;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 60vh;
}
