.node {
    animation-name: appear;
    animation-duration: 1s;  
}

@keyframes appear {
    from {top: -100px; opacity: 0;}
    to {top: 0px; opacity: 1;}
}

.link {
    color: var(--secondary);
    cursor: pointer;
}

.list-group-item {
    cursor: pointer;
}

.illustration-container {
    width: inherit;
    height: 180px;
    overflow: hidden;
    cursor: pointer;
}

.illustration {
    width: 100%;
    position: relative; //by default
}