#top-bar {
  background-color: var(--component-foreground);
  text-align: center;
  height: auto;
  width: 100vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  position: absolute;
  top: 0;
  animation: slide 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.top-bar-logo {
  transition-duration: 0.3s;
}

#top-bar:hover .top-bar-logo {
  transform: translate(-300%, 0);
  opacity: 0;
}

.top-bar-links {
  text-align: center;
  top: inherit;
  padding-top: 2.5vh;
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  width: 100vw;
}

.top-bar-link {
  transition-duration: 0.7s;
  color: transparent;
  margin: 1vw;
}

#top-bar:hover .top-bar-links {
  opacity: 1;
}

#top-bar:hover .top-bar-link {
  text-align: center;
  color: var(--text);
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(-10%, 0);
  }
  90% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.icon {
  width: 25px;
  height: auto;
  margin-right: 10px;
}

#theme-button {
  width: fit-content;
  height: 100%;
  position: absolute;
  padding-top: 2.5vh;
  top: 0;
  right: 0;
  cursor: pointer;
}

// ChausSUUUU
#odc {
  text-align: center;
  opacity: 0.3;
}

// Tooltip
#top-bar::before {
  content: "Autre chose ?";
  position: absolute;
  padding: 0 0.3em 0.3em 0.3em;

  color: var(--text);
  background-color: var(--primary);
  border: var(--secondary);
  border-radius: 2px;
  z-index: 2;

  top: 125%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation-name: shake;
  animation-duration: 3s;

  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform-origin: center center;
}

#top-bar::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 1;

  background-color: var(--primary);
  border: var(--secondary);

  -webkit-clip-path: polygon(50% 0%, 50% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 40%);
  clip-path: polygon(50% 0%, 50% 0%, 100% 40%, 0% 40%, 100% 100%, 0% 100%, 100% 100%, 0% 40%);

  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation-name: shake;
  animation-duration: 3s;

  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform-origin: center center;
}

#top-bar:hover::before {
  opacity: 0;
}

#top-bar:hover::after {
  opacity: 0;
}

@keyframes shake {
  0% {
    background-color: var(--primary);
    left: 50%;
  }
  2% {
    left: 49.7%;
  }
  4% {
    left: 50.3%;
  }
  6% {
    left: 49.7%;
  }
  12% {
    left: 50%;
  }
  50% {
    background-color: var(--secondary);
  }
  100% {
    background-color: var(--primary);
    left: 50%;
  }
}
