.App-header {
  background-color: var(--primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link {
  color: var(--important);
}

#ekot-logo {
  opacity: 0.05;
  position: absolute;
}

