.feedback-system {

    height: 10vh;
    width: 50vw;
    margin: 15px;
    box-shadow: 0 4px 30px rgba(0,0,0,.3);
    border-radius: 200px !important;
    border: 1px solid brown;
}

.option-container {
    padding: 20px;
    height: inherit;
    border: 2px solid red;
    text-align: center;
}

.option {
    height: inherit;
    width: 2vw;
}

[show='true'] {
    z-index: +1000;
    position: absolute;
}

[show='false'] {
    z-index: -1000;
    position: absolute;
    visibility: hidden;
}