// Removing transparency of the primary 
// color -if any- for more lisibility
.feedback-system::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -100;
    background-color: var(--component-background);
}

.close-btn {
    top: 0;
    right: 0;
    width: 12%;
    height: 15%;
    z-index: 100;
    position: absolute;
    text-align: center;
    font-size: large;
    cursor: pointer;
}

.option-container {
    margin: 5px;
    text-align: center;
    padding: 5px;
    border-radius: 2px;
    transition-duration: 0.2s;
}

.sad-cry-solid {
    mask: url("../../../icons/sad-cry-solid.svg");
}

.grin-hearts-solid {
    mask: url("../../../icons/grin-hearts-solid.svg");
}

.option {
    display: inline-block;
    width: 49px;
    height: 50px;
    background: var(--emoji-color);
    mask-size: cover;
    transition-duration: 0.2s;
    animation: 1.5s ease 0s infinite beat;
}

.option-container:hover,
.option-container:focus {
    box-shadow: inset 0 0 100px var(--primary);
}

.selected {
    box-shadow: inset 0 0 100px var(--primary);
}

@keyframes beat {
    0%,
    100% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.9, 0.9);
    }
}
