.center {
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 25;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.7);
    animation: 0.7s ease 0s 1 fade;
}

.feedback-system-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 101;
    animation: 0.7s ease 0s 1 color-fade;
    animation-fill-mode: forwards;
}

// App wide animations
@keyframes color-fade {
    0% {
        background-color: none;
    }
    100% {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

// App wide animations
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
